/*Create a blank CSS stylesheet for your my-first-webpage.html. Put 
it in a sub-folder called css. Link the HTML document 
to the stylesheet (make sure the path to the file is correct!).*/

h1 {
	color: #c0392b;
	text-align: center;
	font-size: 90px;
	font-weight: bolder;
}

h2 {
	color: #34495e;
	font-style: italic ;
	text-align: center
}

ul {
	font-size: 20px;
	color: #2ecc71;
	line-height: 25px;
}

p {
	font-family: sans-serif;
	font-size: 25px;
}