/*custom CSS styles*/

.button {
	background-color: #5F2D8C;
	border-color: #462065;
	color: white;
}

.button:hover, .button:focus {
	background-color: #462065;
}

header h2 {
	font-family: Gorgia; serif;
	font-style: italic;
	font-weight: normal;
	padding-top: .4em;
}

h1, h2, h3, h4, h5, h6 {
	color: #5F2D8C;
	font-family: 'Tangerine', sans-serif;
}

article {
	padding-bottom: 2em;
}

article .right {
	padding: 0 0 2em 1em;
	font-size: 0.5em;
}

article .left {
	padding: 0 2em 1em 0;
	font-size: 0.2em;
}
