/*custom CSS styles*/

.button {
	background-color: #5F2D8C;
	border-color: #462065;
	color: white;
}

.button:hover, .button:focus {
	background-color: #462065;
}

header h2 {
	font-family: Gorgia; serif;
	font-style: italic;
	font-weight: normal;
	padding-top: .4em;
	color: #5F2D8C;
}