h1 {
	color: green;
	text-align: center;
}

p {
	font-family: Rockwell;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.img {
  width: 30%;
}

.button {
	color: red
}

.image {
	color: blue;
}
