h1 {
	color: blue;
	text-align: center;
	font-size: 50px;
}

h3 {
	color: red;
}

p {
	font-family: sans-serif; 
}

p.intro {
	color: green;
}

p.first_day {
	color: #00FFFF ;
}

.dog {
	font-weight: 900;
	font-family: arial;
}

.happy {
	font-style: italic;
	font-size: 40px;
	color: #8e44ad;
}