h1 {
	color: blue;
	text-align: center;
	font-size: 50px;
}

h3 {
	color: red;
}

p {
	font-family: sans-serif; 
}

.intro {
	color: red;
}

p.first_day {
	color: #00FFFF ;
}

.dog {
	font-weight: 900;
	font-family: arial;
	font-size: 50px;
}

.happy {
	font-style: italic;
	font-size: 40px;
	color: #8e44ad;
}

.sidebar {
	float: right;
	width: 400px;
	border: 5px solid green;
	padding: 3px;
	margin: 3px;
	background-color: yellow;
}