h1 {
	color: green;
	text-align: right;
}

h3 {
	font-weight: 900;
	color: #7D775C;
}

ul {
	color: blue;
	font-size: 20px;
}

p {
	font-family: Rockwell;
}

p.honest {
	color: red;
	font-style: italic
}

