h1 {
	color: green;
	text-align: right;
}

h3 {
	font-weight: 900;
	color: #7D775C;
}

ul {
	color: blue;
	font-size: 20px;
}

p {
	font-family: Rockwell;
}

p.honest {
	color: red;
	font-style: italic
}

.about_me {
	text-align: center;
	font-size: 20px;
	border: 8px solid red;
}

img {
	float: left;
	padding: 20px;
	border: 8px solid black;
	padding: 5px;
	margin: 20px;
	background-color: red
}

.sidebar {
	width: 30%;
	background-color: yellow;
	float: right;
	border: 3px dashed red;

}

@media (min-width:400px) and (max-width: 991px){
	.small_image {
		display: none;
	}
}