.intro {

	text-align: center;
	color: red;
	font-size: 50px
}

h1 {
	font-family: sans-serif;
}

.sidebar {
	float: right;
	background-color: yellow;
	width: 400px;
}

img {
	float:right;
}

.change-background {
	background-color: yellow;
	border: 20px solid purple; 
}

.second-background {
	background-color: black;
	color: white;
	border: 5px dashed red;
}

