h1 {
	color: blue;
	text-align: center;
	font-size: 90px;
}

h2 {
	font-style: italic;
	text-align: center;
}

p {
	font-family: sans-serif
}

ul {
	font-size: 20px;
	line-height: 30px;
}

.best {
	text-align: center;
	color: green;
	font-size:38px;
	font-style: italic;
	font-weight: 900;	
}

.fav {
	font-size: 40px;
	color: #f1c40f;
}
.number {
	color: red;
	font-family: baskerville;
}

.big_column {
	width: 900px;
}
/*img {
	float: right;
}*/

.columns {
	width: 400px;
	float: left;
}

.sidebar {
	float: right;
	background-color: yellow;
}