h1 {
	color: blue;
	text-align: center
}

h2 {
	font-style: italic;
	text-align: center;
}

p {
	font-family: sans-serif
}

ul {
	font-size: 20px;
	line-height: 30px;
}

.best {
	text-align: center;
	color: green;
	font-size:38px;
	font-style: italic;
	font-weight: 900;
	
}